
.form_orizon{
	font-weight: 600;
	color:  red !important;
	border-radius: 50px;
	font-size: 13px;
	color:  #0c265d !important;
	padding-left: 20px;
}
textarea{
	border-radius: 25px !important;
}
.boton-azul-form{
	text-transform: uppercase;
	text-align: center;
	color: #13b7da;
	cursor: pointer;
	background-color: #0c265d;
	display: inline-block;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 5px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 50px;
	float: right;
	height: 37px;
	width: 140px;
}
.boton-azul-form:hover{
	background-color: #fff; 
	color: #0c265d;
}