/********************* HEADER **************************/
.capa_trasera {
/* position: absolute;
width: 100%;
height: 960px;
margin: 0 auto;*/
background-image: url(../img/img2/f_home.jpg);
background-size: 110% auto;
background-repeat: no-repeat;
z-index: 0;
transition: none;
}
.capa_frontal {
    position: relative;
    width: 100%;
    height: 0;
    margin: 30px auto 0;
    padding-top: 36.75%;
    background-image: url(../img/productosfix.png);
    background-position: 24% bottom;
    background-repeat: no-repeat;
    background-size: 120% auto;
    z-index: 2;
}

/*header { background-color: #c3d0d7; }*/
.fondo_home { position: absolute; top: 0; width: 100%; height: 881px; background-repeat: no-repeat; background-position:center center; z-index: 0; }
.fondo_home2 { position: relative; background-image: none; width: 100%; height: auto; }
.guanaco1 { position: absolute; top: 2%; width: 100%; height: 928px; background-repeat: no-repeat; background-position: center center; z-index: 2; }
.guanaco2 { position: relative; top: 0; margin-top: 863px; width: 100%; height: 1350px; background-repeat: no-repeat; background-position: center center; z-index: 4; }
.nivelagua { position: absolute; top: 0; width: 100%; height: 1100px; background-position: top center; background-repeat: no-repeat; z-index: 8; }
.botella {
	position: absolute; top: 0; background-image: url(../img/1920/botella.png); width: 100%; height: 2300px; background-repeat: no-repeat; background-position:46% 54%; z-index: 6;
	-webkit-transition: top 1s ease-out; -moz-transition: top 1s ease-out; -o-transition: top 1s ease-out; -ms-transition: top 1s ease-out; transition: top 1s ease-out;
}
.botella_ini { top: 100vh; }
.mouse-scroll{
	position: fixed;
    top: 70px;
    right:20px;
    z-index: 10;
    width: 33px;
    margin-left: -9px;
   	display: none;
   	
}

.mouse-scroll .arrow{
	display: none;
}
.mouse-scroll .arrow.a.active, .mouse-scroll .arrow.b.active, .mouse-scroll .arrow.c.active{
	display: block;
}
.mouse-scroll div{
	display: block;
	width: 15px;
    margin: -15px auto;
}
.mouse-scroll img{
	margin:auto;
}
.mouse-scroll img.scroll{
	margin-bottom: 10px;
}
.fondo_home, .guanaco1, .guanaco2 { transition: none; }
.fondo_home, .guanaco1, .guanaco2, .nivelagua, .botella, .gotas_container { display: none; }
.fondo_home2 { display: block; }

.contenedoriconos { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 10%; margin-top: 75%; text-align: center; z-index: 12;}

.iconosbotella { position: absolute; height: 105vw; text-align: center; width:50%; } 
.iconosbotella ul li { list-style: none; margin-bottom: 10px; display:block;}
/*	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;*/

.iconosbotella ul li img {
-webkit-transition: ease 0.4s ease;
-moz-transition: ease 0.4s ease; 
-o-transition: ease 0.4s ease; 
-ms-transition: ease 0.4s ease;
transition: ease 0.4s ease;
}


    



#agua{background-image: url(../img/1920/icono1_h.png);
background-repeat: no-repeat;
background-position: top center;
cursor: pointer;
width:100%!important; height:99px;}


#mistica{background-image: url(../img/1920/icono2_h.png);
background-repeat: no-repeat;
background-position:top center;
cursor: pointer;width:100%!important;height:99px;}


#historia{background-image: url(../img/1920/icono3_h.png);
background-repeat: no-repeat;
background-position: top center;
cursor: pointer;
width:100%!important;height:99px;}


#sustentabilidad{background-image: url(../img/1920/icono4_h.png);
background-repeat: no-repeat;
background-position:top center;
cursor: pointer;
width:100%!important;height:99px;}

	


.gotas_container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 8;	
}

.gotas_container_wrapper {
	position: relative;
	width: 1920px;
	height: 100%;
	margin: 0 auto;
	left: 50%;
}
.gotas_container_box {
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: -50%;
}
.gota_agua {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 65px;
	background-position: top;
	background-repeat: no-repeat;
	/* background-size: 100%; */
	opacity: 1;
	-webkit-transition: background-position 1.8s ease-in 0.2s, opacity 0.2s ease-out;
	   -moz-transition: background-position 1.8s ease-in 0.2s, opacity 0.2s ease-out;
	    -ms-transition: background-position 1.8s ease-in 0.2s, opacity 0.2s ease-out;
	     -o-transition: background-position 1.8s ease-in 0.2s, opacity 0.2s ease-out;
	        transition: background-position 1.8s ease-in 0.2s, opacity 0.2s ease-out;
}
.gota_start {  background-position: bottom; }
.gota_oculta {  opacity: 0; }
#gota-1 { left: 26%; bottom: 180px; }
#gota-2 { left: 29%; bottom: 180px; }
#gota-3 { left: 32%; bottom: 180px; }
#gota-4 { left: 60%; bottom: 180px; }
#gota-5 { left: 63%; bottom: 180px; }
#gota-6 { left: 66%; bottom: 180px; }
#gota-7 { left: 68%; bottom: 180px; }
#gota-8 { left: 36%; bottom: 180px; }
#gota-9 { left: 37%; bottom: 180px; }
#gota-10 { left: 38%; bottom: 180px; }
#gota-11 { left: 39%; bottom: 180px; }
#gota-12 { left: 40%; bottom: 180px; }
#gota-13 { left: 41%; bottom: 180px; }
#gota-14 { left: 42%; bottom: 180px; }
#gota-15 { left: 45%; bottom: 180px; }
#gota-16 { left: 47%; bottom: 180px; }
#gota-17 { left: 48%; bottom: 180px; }
#gota-18 { left: 50%; bottom: 180px; }
#gota-19 { left: 33%; bottom: 180px; }
#gota-20 { left: 30%; bottom: 180px; }
#gota-21 { left: 28%; bottom: 180px; }
#gota-22 { left: 27%; bottom: 180px; }
#gota-23 { left: 25%; bottom: 180px; }
#gota-24 { left: 24%; bottom: 180px; }
#gota-25 { left: 22%; bottom: 180px; }
#gota-26 { left: 21%; bottom: 180px; }
#gota-27 { left: 19%; bottom: 180px; }
#gota-28 { left: 35%; bottom: 180px; }
#gota-29 { left: 35%; bottom: 180px; }
#gota-30 { left: 35%; bottom: 180px; }



	/* #gota-1 { background-color: rgba(255,   0,   0, 0.5) } */
	/* #gota-2 { background-color: rgba( 40, 167,  69, 0.5) } */
	/* #gota-3 { background-color: rgba(  0,   0, 255, 0.5) } */
	/* #gota-4 { background-color: rgba(255, 255,   0, 0.5) } */
	/* #gota-5 { background-color: rgba(253, 126,  20, 0.5) } */
	/* #gota-6 { background-color: rgba( 52,  58,  64, 0.5) } */

.fuerzas_agua { position: relative; text-align: center; }
.fuerza_agua_detalle { width: 78%; margin: 0 auto; padding: 0; z-index: 20; display: none;
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}
.fuerza_agua_detalle .fuerza_agua_icono { text-align: center; }
.fuerza_agua_detalle .fuerza_agua_icono img { margin: 0 auto; }
.fuerza_agua_detalle .fuerza_agua_titulo { margin: 4.5vw auto 3.5vw; text-align: center; }
.fuerza_agua_detalle .fuerza_agua_titulo h1 { margin: 0; padding: 0; font-size: 4vw; font-weight: 700; }
/*.fuerza_agua_detalle .fuerza_agua_cuerpo { width: 100%; height: 36vw; display: table-cell; border: none; text-align: center; vertical-align: middle; }*/
.fuerza_agua_detalle .fuerza_agua_cuerpo { width: 100%; height: 17vw; border: none; text-align: center; vertical-align: middle; }
.fuerza_agua_detalle .fuerza_agua_cuerpo p { margin: 0; padding: 0; font-size: 3vw; color: #ffffff; }
.fuerza_agua_detalle .fuerza_agua_pie { margin: 0vw 0 0; text-align: center; }
/*.fuerza_agua_detalle .fuerza_agua_pie img { width: 10.6%; margin: 0 auto; opacity: 0.75; opacity: 1; }*/
.fuerza_agua_detalle .fuerza_agua_pie img { margin: 0 auto; opacity: 0.75; opacity: 1; }
.fuerza_agua_detalle .fuerza_agua_pie img:hover { cursor: pointer; opacity: 1; }

/********************* SECTION *************************/
.azulor{color:#0f275c !important; text-align:center; font-weight:700; margin-top:50px; margin-bottom:40px;}
.tit_novedades{
font-weight: 300;
color: #FFFFFF;
font-size: 56px;}

.subtit_novedades{
font-weight: 700;
color: #FFFFFF;
font-size: 30px;}

.parr_novedades{
font-weight: 400;
    color: #FFFFFF;
    font-size: 28px;
}

#quees_seccion { position:relative; top:-200px; z-index: 10; padding-bottom:116px;}
.fondo_quees { position: absolute; top:-15px; width: 100%; background-image: url(../img/1920/fondo_novedades.png); background-size: cover; background-position: top center; background-repeat:no-repeat;}

#xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxvideo_seccion { position:relative; top:-200px; z-index: 12; /*height:900px;*/}


.fondovideo {
 	padding-top:30px;
    background-image: url(../img/fondo_productos1920.jpg);
    background-position: top center ;
    background-repeat: no-repeat;
    background-size: 100%; 
}




#premium_seccion { position:relative; top: -200px; z-index: 13; padding-top:100px;}
.fondo_premium { position: absolute; top:-15px; width: 100%; background-image: url(../img/1920/fondo_premium.jpg); background-size: cover; background-position: top center; background-repeat:no-repeat;}
.tit_prem { font-size:24px; color:#0f275c; font-weight:600;margin-bottom: 30px; margin-top:30px;}
.parr_prem {font-size:16px; color:#0f275c;}



/*.contenido_novedades { margin-top: 40px; padding-top: 30px; padding-bottom: 30px; background-color: #41617a; overflow: hidden; }

.fondo_novedades { position: absolute; top: 0; left: 0; width: 100%; height: auto; }*/


.fila { position: relative; width: 90%; margin: 0 auto; padding-left:0%; padding-right: 0%; }
.columna { position: relative; float: left; width: 100%; margin-right: 2%; padding: 2% 0%; }
.columna_imagen { display: none; }
.noticia { padding-bottom: 0; overflow: hidden; }
.titulo_noticia h1 { margin-left: 2%; padding-bottom: 10px; font-size: 25px; font-weight: 700; line-height: 30px; }
.fecha_noticia p { margin-left: 2%; padding-bottom: 10px; font-weight: 600; font-size: 13px; color: #13b7da; }
.separador { width: 27px; margin-left: 2%; padding: 0; border-top: 1px solid #13b7da; }
.imagen_noticia { padding: 0 10px 20px; }
.imagen_noticia img { width: 100%; }
.resumen_noticia p { padding-left: 10px; line-height: 30px; font-weight: 100; font-size: 15px; padding-bottom: 10px; }
.enlace_noticia { padding-bottom: 50px; }
.img_novedad img { width: 100%; }
.ver_mas_noticias { padding-top: 20px; }

/***ajustes**/
#box219{ position:relative; top:67px; text-align:left; margin-top:50px;}
#box230{text-align: left;}	


/********************* PRE-LOADERS *********************/
.image-preloader { position: absolute; z-index: -1; top: 0; left: 150vw; }


@media screen and (min-width: 299px) and (max-width: 320px) { 
.capa_trasera {
background-image: url(../img/img2/f_home.jpg);
background-size: 100% 60%;
background-repeat: no-repeat;
}
#video_seccion {
position: relative;
top: -200px;
z-index: 12;
height: 430px;
}
}

@media screen and (max-width: 414px) {
#sustentabilidad:hover{background-image: url(../img/1920/icono4_h_OVERsmall.png);
background-repeat: no-repeat;
background-position: top center;
cursor:pointer;
width:100%!important;height:99px;}

#agua:hover{background-image: url(../img/1920/icono1_h_OVERsmall.png);
background-repeat: no-repeat;
background-position: top center;
width:100%!important;height:99px;}

#mistica:hover{background-image: url(../img/1920/icono2_h_OVERsmall.png);
background-repeat: no-repeat;
background-position:top center;
width:100%!important;
cursor:pointer;height:99px;}

#historia:hover{background-image: url(../img/1920/icono3_h_OVERsmall.png);
background-repeat: no-repeat;
background-position:top center;
cursor:pointer;
width:100%!important;height:99px;}

#video_seccion {
position: relative;
top: -140px;
z-index: 12;
height: 430px;
}

.capa_trasera {
background-image: url(../img/img2/f_home.jpg);
background-size: cover;
background-repeat: no-repeat;
z-index: 0;
transition: none;
}
.azulor{ font-size:17px;}
.boton-orizon {
margin-left: 25%;
}
}


@media screen and (min-width: 500px) {

#sustentabilidad:hover{background-image: url(../img/1920/icono4_h_OVER.png);
background-repeat: no-repeat;
background-position: top center;
cursor:pointer;
width:100%!important;height:99px;}

#agua:hover{background-image: url(../img/1920/icono1_h_OVER.png);
background-repeat: no-repeat;
background-position: top center;
width:100%!important;height:99px;}

#mistica:hover{background-image: url(../img/1920/icono2_h_OVER.png);
background-repeat: no-repeat;
background-position:top center;
width:100%!important;
cursor:pointer;height:99px;}

#historia:hover{background-image: url(../img/1920/icono3_h_OVER.png);
background-repeat: no-repeat;
background-position:top center;
cursor:pointer;
width:100%!important;height:99px;}

/********************* HEADER **************************/
.iconosbotella ul li { margin-bottom: 15px; }

/********************* SECTION *************************/
.contenido_novedades { padding-top: 30px; padding-bottom: 140px; background-color: #41617a; overflow: hidden; }
.titulo_noticia h1 { margin-left: 10px; padding-bottom: 22px; font-size: 40px; font-weight: 700; line-height: 40px; }
.fecha_noticia p { margin-left: 10px; padding-bottom: 22px; }
.separador { margin-left: 10px; }
.imagen_noticia img { width: auto; margin-bottom: 40px; }
.resumen_noticia p { padding-bottom: 30px; }
.enlace_noticia { padding-bottom: 50px; }

#box219 {
position: relative!important;
top: 140px!important;
text-align: center!important;
}
.tit_novedades{ font-size:30px !important;}
.subtit_novedades { font-weight: 600; color: #FFFFFF; font-size: 20px;}
.parr_novedades {
font-weight: 400;
color: #FFFFFF;
font-size: 20px;
}


#video_seccion {
position: relative;
top: -220px;
z-index: 12;
height: 417px;
}
}

@media screen and (min-width: 1300px){#video_seccion {position: relative;top: -210px;z-index: 12;height: 480px;}}

@media screen and (min-width: 768px) {

/********************* HEADER **************************/
.iconosbotella ul li { margin-bottom: 20px; }

/********************* SECTION *************************/
#novedades { margin-top: -310px; }
/*.novedades { height: 2300px; }*/
.titulo_noticia h1 { font-size: 48px; line-height: 48px; }
.iconosbotella { left: 25%; width: 50%; }
	
#video_seccion {height: 570px !important;}
}


@media screen and (min-width: 1024px) {
	
#video_seccion {height: 640px !important;}


		.mouse-scroll{
	    top: 10px;
	}
	/********************* HEADER **************************/
	
	.fondo_home, .guanaco1, .guanaco2, .nivelagua, .botella, .gotas_container { display: block; }
	.fondo_home2 { display: none; }
	.fondo_home { background-image: url(../img/1920/fondo1_home.jpg); }
	.guanaco1 { background-image: url(../img/1024/guanaco1_2.png); }
	.guanaco2 { margin-top: 863px; background-image: url(../img/1920/guanaco2.jpg); }
	.gotas_container { top: 780px; bottom: 100px; }
	.nivelagua { top: 720px; background-image: url(../img/1920/nivelagua.png); }
	.botella { background-image: url(../img/1920/botella.png); }
	.contenedoriconos { width: 563px; margin-top: 850px; height: 100px; left: calc((100% - 563px) * .46); text-align: center; }
	.iconosbotella { left:25%; /*231px;*/ width:50%; /*100px;*/ height: 480px; padding: 0; }
	.iconosbotella ul li { width: 100px; height: 100px; margin-bottom: 20px; }
	.fuerza_agua_detalle { width: 340px; margin: 0 auto; padding: 18px 0; z-index: 20; display: none; }
	.fuerza_agua_detalle .fuerza_agua_icono { text-align: center; }
	.fuerza_agua_detalle .fuerza_agua_icono img { margin: 0 auto; }
	.fuerza_agua_detalle .fuerza_agua_titulo { margin: 20px auto 15px; text-align: center; }
	.fuerza_agua_detalle .fuerza_agua_titulo h1 { margin: 0; padding: 0; font-size: 2.2em; font-weight: 700; }
	/*.fuerza_agua_detalle .fuerza_agua_cuerpo { width: 340px; height: 160px; display: table-cell; border: none; text-align: center; vertical-align: middle; }*/
	.fuerza_agua_detalle .fuerza_agua_cuerpo { width: 340px; height: 110px; display: table-cell; border: none; text-align: center; vertical-align: middle; }
	.fuerza_agua_detalle .fuerza_agua_cuerpo p { margin: 0; padding: 0; font-size: 1.25em; }
	/*.fuerza_agua_detalle .fuerza_agua_pie { margin: 30px 0 0; text-align: center; }*/
	.fuerza_agua_detalle .fuerza_agua_pie { margin: 10px 0 0; text-align: center; }

	/********************* SECTION *************************/
	.novedades { height: 1700px; }
	.fila { width: 90%; margin: 0 auto; padding-left: 0; padding-right: 0; }
	.noticia { padding-bottom: 10px; }
	.imagen_noticia { display: none; }
	.dos-columnas .columna { width: 48%; }
	.dos-columnas .columna:nth-child(2n) { padding: 3%; }
	.columna_imagen { display: block; }
	.img_novedad img { width: auto; }
	.ver_mas_noticias { padding-top: 100px; }

	
	/********************* HEADER **************************/
	.guanaco1 { background-image: url(../img/1920/guanaco1.png); }
	.guanaco2 { margin-top: 939px; }
	.gotas_container { top: 820px; bottom: 160px; }
	.nivelagua { top:760px; }
	.contenedoriconos { margin-top: 880px; }
	.iconosbotella { left: 25%; width: 50%; }


.capa_frontal {
    position: relative;
    width: 100%;
    height: 0;
    margin: 30px auto 0;
    padding-top: 33.75%;
    background-image: url(../img/productosfix.png);
    background-position: 24% bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 2;
}

}

@media screen and (min-width: 1280px) {
	
	/********************* SECTION *************************/
	.novedades { height: 1700px; }
		.fondovideo{background-size: 100% !important;}
	#video_seccion {height: 760px !important;}
}

@media screen and (min-width: 1440px) {
	
	/********************* HEADER **************************/
	.guanaco2 { margin-top: 899px; }
	.gotas_container { top: 850px; bottom: 150px; }
	.nivelagua { top: 787px; }
	.botella { width: 100%; height: 2300px; background-position:46% 54%; }
	.contenedoriconos { margin-top: 890px; }

}

@media screen and (min-width: 1600px) {
	.mouse-scroll{
	    margin-left: -50px;
	}
}


@media screen and (min-width: 1680px) {
	
	/********************* HEADER **************************/
	.guanaco1 { background-image: url(../img/1920/guanaco1.png); width: 100%;height: 928px; background-position: center center; }
	.guanaco2 { margin-top: 970px; }
	.gotas_container { top: 870px; bottom: 190px; }
	.nivelagua { top: 800px; }
	.contenedoriconos { margin-top: 900px; }

}

@media screen and (min-width: 1920px) {	
	
	/********************* HEADER **************************/
	.guanaco2 { height: 1350px; }
	.gotas_container { top: 855px; }
	.nivelagua { top: 790px; }
	.contenedoriconos { margin-top: 858px; }
.botcuca{ visibility:visible;}



}