
/********************* CONTENT *************************/
.fila { position: relative; width: 100%; margin: 0 auto; padding-left:0%; padding-right: 0%; }
.columna { position: relative; float: left; width: 100%; margin: 0; margin-right: 2%; padding: 2% 0%; }
.columna.right { position: relative; float: right; width: 100%; margin: 0; margin-left: 2%; padding: 2% 0%; }

/********************* HEADER **************************/
.fondo_productos.capa_trasera { position: absolute; width: 100%; height: 960px; margin: 0 auto; background-image: url('../img/fondo_productos.jpg'); background-position: 70% top; background-repeat: no-repeat; z-index: 0; transition: none; }
.fondo_productos.capa_frontal { position: relative; width: 100%; height: 0; margin: 30px auto 0; padding-top: 32.75%; background-image: url('../img/productos.png'); background-position: 24% bottom; background-repeat: no-repeat; background-size: 120% auto; z-index: 2; }
.titulo_seccion { position: relative; margin-top: 30px; margin-left: 5%; text-align: left; z-index: 4; }
.titulo_seccion h1 { margin: 0; padding: 0; font-size: 25px; font-weight: 600; color: #0c265d; }
.subtitulo_seccion { position: relative; margin-left: 5%; margin-right: 5%; padding-top: 0; text-align:left; z-index: 4; }
.subtitulo_seccion h2 { margin: 15px 0 0; padding: 0; padding-left: 10px; font-size: 20px; font-weight: 200; line-height: 26px; color: #13b7da; }
.subtitulo_seccion h2 strong { font-weight: 700; }
.info_productos { width: 86%; position: relative; margin: 0 auto; z-index: 4; overflow: hidden; }
.descripcion_productos { width: 100%; float: left; position: relative; text-align:left; z-index: 4; }
.descripcion_productos p { width: 95%; margin: 40px 0; padding: 0; font-size: 18px; font-weight: 500; line-height: 25px; color: #0c265d; }
.detalle_productos { width: 100%; float: left; position: relative; text-align: left; z-index: 4; }
.detalle_productos ul { margin: 0; padding: 40px 50px; background-color: #fff; border-radius: 90px; }
.detalle_productos ul li { list-style: none; font-size: 18px; font-weight: 400; line-height: 25px; color: #13b7da; }
.detalle_productos ul li:before { content: '- '; }

/********************* PRODUCTOS ***********************/
#productos { padding-top: 30px; padding-bottom: 400px; background-image: url('../img/fondo_serie_especial.jpg'); background-position: center bottom; background-repeat: no-repeat; background-size: cover; background-color: #fff; }
#productos .fila { width: 80%; margin-bottom: 10px; overflow: hidden; }
#productos .columna { width: 100%; }

#productos h3 { margin: 0; padding: 0; margin-left: 7%; font-size: 30px; font-weight: 600; line-height: 35px; color: #0c265d; }
#productos h3 + hr { margin-left: 7%; }
#productos h4 { margin: 0 0 30px; padding: 0; font-size: 46px; font-weight: 700; line-height: 52px; color: #13b7da; }
#productos p { margin: 0 0 25px; padding: 0; font-size: 18px; font-weight: 500; line-height: 25px; color: #0c265d; }
#productos p strong { font-weight: 700; }
#productos .columna.imagen { text-align: center; }
#productos .imagen img { width: 100%; }

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 500px) {
	
	/********************* HEADER **************************/
	.titulo_seccion { margin-top: 60px; }
	.titulo_seccion h1 { font-size: 44px; }
	.subtitulo_seccion { padding-top: 15px; }
	.subtitulo_seccion h2 { margin-bottom: 0; padding-left: 25px; font-size: 32px; line-height: 35px; }
	
	/********************* PRODUCTOS ***********************/
	#productos { padding-top: 60px; }
	#productos .imagen img { width: auto; }
}

@media screen and (min-width: 600px) {
	
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 1024px) {
	
	/********************* HEADER **************************/
	.fondo_productos.capa_trasera { background-position: center top; }
	.fondo_productos.capa_frontal { margin-top: 60px; }
	.subtitulo_seccion h2 { width: 590px; font-size: 35px; line-height: 38px; }
	
	/********************* PRODUCTOS ***********************/
	#productos { padding-top: 130px; padding-bottom: 450px; }
	#productos .fila { width: 80%; margin-bottom: 10px; overflow: hidden; }
	#productos .columna { width: 48%; }
	
	#productos h3 { margin: 0; padding: 0; margin-left: 7%; font-size: 30px; font-weight: 600; line-height: 35px; color: #0c265d; }
	#productos h3 + hr { margin-left: 7%; }
	#productos h4 { margin: 0 0 30px; padding: 0; font-size: 46px; font-weight: 700; line-height: 52px; color: #13b7da; }
	#productos p { margin: 0 0 25px; padding: 0; font-size: 18px; font-weight: 500; line-height: 25px; color: #0c265d; }
	#productos p strong { font-weight: 700; }
	#productos .columna.imagen { text-align: center; }
}

@media screen and (min-width: 1280px) {
	
	/********************* HEADER **************************/
	.subtitulo_seccion h2 { width: 590px; font-size: 35px; line-height: 38px; }
	.descripcion_productos { width: 49.5%; }
	.detalle_productos { width: 49.5%; }
}

@media screen and (min-width: 1920px) {
	
}