
#popup-legales{
   position: absolute;
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
   overflow: auto;

}
#popup-legales:target {
   display: block;
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.5);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index:9999;
   transition:all 1s;   
   animation: modal 11.5s 0s forwards!important;
}
p{color:#000;font-size: 14px;}
.popup-contenedor-legales {
   overflow: auto;
   position: relative;
   margin:5% auto;
   padding:50px 50px;
   background-color: #f7f7f7;
   color:#000;
   border-radius: 3px;
   width:80%;
   height: auto;
   animation: modal 11.5s 0s forwards!important;
}
.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   padding:7px 10px;
   font-size: 20px;
   font-weight: bold;
   text-decoration: none;
   line-height: 1;
   color:#000;
   animation: modal 11.5s 0s forwards!important;
}
i{color: #000;}
.popup-link{color: #0c265d;}