
/********************* CONTENT *************************/
.fila { position: relative; width: 100%; margin: 0 auto; padding-left:0%; padding-right: 0%; }
.columna { position: relative; float: left; width: 100%; margin-right: 2%; padding: 2% 0%; }

/********************* HEADER **************************/
header {
	/* background-color: black; */
}

.fondo_ubicacion.capa_trasera { position: absolute; width: 100%; height: 1166px; margin: 0 auto; background-image: url('../img/fondo_donde_estamos.jpg'); background-position: center top; background-repeat: no-repeat; z-index: 0; transition: none; }
.fondo_ubicacion.capa_frontal { position: absolute; top: 90px; width: 100%; height: 892px; margin: 0 auto; background-image: url('../img/fogata.png'); background-position: right -370px bottom 0; background-repeat: no-repeat; z-index: 2; }
.titulo_seccion { position: relative; margin-top: 30px; margin-left: 5%; text-align:left; z-index: 4; }
.titulo_seccion h1 { margin: 0; padding: 0; font-size: 25px; font-weight: 600; color: #fff; }
.subtitulo_seccion { position: relative; height: 165px; margin-left: 5%; margin-right: 5%; padding-top: 0; text-align:left; z-index: 4; }
.subtitulo_seccion h2 { margin: 15px 0 25px; padding: 0; padding-left: 10px; font-size: 20px; font-weight: 100; line-height: 26px; color: #fff; }
.subtitulo_seccion h2 strong { font-weight: 500; }
.subtitulo_seccion h3 { margin: 15px 0 25px; padding: 0; padding-left: 10px; font-size: 26px; font-weight: 200; line-height: 30px; color: #0FBAD8; }
.subtitulo_seccion h3 strong { font-weight: 600; }
.descripcion_ubicacion { position: relative; height: 645px; margin-left: 5%; margin-right: 5%; text-align:left; z-index: 4; }
.descripcion_ubicacion p { position: absolute; bottom: 0; padding: 25px 35px; border-radius: 75px; font-size: 16px; font-weight: 400; line-height: 25px; color: #0FBAD8; background-color: #fff; }
.bottom_header { position: relative; padding-top: 15px; padding-left: 7%; padding-bottom: 25px; z-index: 4; }
.video_ubicacion { position: relative; width: 100%; margin: 0; padding: 30px 0;
	background-image: url('../img/1920/fondo_novedades.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #0c265d;
	/* background-color: #00215E; */
	z-index: 6;
}
.video_box { position: relative; width: 90%; max-width: 560px; margin: 0 auto; border: 5px solid #fff; }
.video_box > div { padding-top: 56.25%; }
.video_box iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; }

/********************* MAPA ****************************/
#mapa { width: 100%; height: 760px; }
#mapa-ubicacion { width: 100%; height: 100%; background-image: url('../img/mapa.png'); background-position: center center; background-repeat: no-repeat; background-color: bisque; }
#mapa-ubicacion div {
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}
#mapa-ubicacion div.gm-bundled-control.gm-bundled-control-on-bottom { bottom: 247px !important; }
#mapa-ubicacion div span[role='checkbox'] + label { color: #000; margin-bottom: 0; }

@media screen and (min-width: 320px) {

}

@media screen and (min-width: 500px) {
	
	/********************* HEADER **************************/
	.fondo_ubicacion.capa_frontal { top: 245px; }
	.titulo_seccion { margin-top: 60px; }
	.titulo_seccion h1 { font-size: 35px; }
	.subtitulo_seccion { height: 250px; padding-top: 15px; }
	.subtitulo_seccion h2 { margin-bottom: 35px; padding-left: 25px; font-size: 28px; line-height: 33px; }
	.subtitulo_seccion h3 { margin-bottom: 35px; padding-left: 25px; font-size: 35px; line-height: 40px; }
	/* .descripcion_ubicacion { height: 645px; } */
	.bottom_header { padding-top: 30px; padding-bottom: 35px; }
}

@media screen and (min-width: 600px) {
	
} 

@media screen and (min-width: 768px) {

	/********************* HEADER **************************/
	.titulo_seccion h1 { font-size: 44px; }
	.subtitulo_seccion h2 { font-size: 32px; line-height: 35px; }
	.subtitulo_seccion h3 { font-size: 46px; line-height: 46px; }
	.descripcion_ubicacion { height: 635px; }
}

@media screen and (min-width: 899px) {

	/********************* HEADER **************************/
	.descripcion_ubicacion { height: 300px; padding-top: 30px; }
	.descripcion_ubicacion p { position:relative; bottom: unset; width: 48%; padding: 25px 50px; }
	.bottom_header { height: 350px; }
}

@media screen and (min-width: 1024px) {
	
	/********************* HEADER **************************/
	.descripcion_ubicacion { height: 370px; }
	.descripcion_ubicacion p { width: 50%; padding: 35px 50px; border-radius: 80px; font-size: 18px; line-height: 30px; }
}

@media screen and (min-width: 1280px) {
	
	/********************* HEADER **************************/
	.fondo_ubicacion.capa_frontal { background-position: center bottom; }
	.subtitulo_seccion h2 { width: 500px; font-size: 30px; line-height: 30px; }
	.subtitulo_seccion h3 { width: 567px; font-size: 52px; line-height: 52px; }
	.descripcion_ubicacion { height: unset; }
	.descripcion_ubicacion p { width: 600px; padding: 50px 75px; border-radius: 115px; }
	.bottom_header { height: unset; padding-top: 65px; padding-bottom: 220px; }
	.video_ubicacion { position: absolute; top: 100px; left: 56%; right: 27px; width: auto; padding: 0; }
	.video_box { width: 100%; }
}

@media screen and (min-width: 1370px) {
	
	/********************* HEADER **************************/
	.video_ubicacion { right: unset; }
	.video_box { width: 560px; }
	.video_box > div {}
}

@media screen and (min-width: 1920px) {	
	
}

