.activado a {
    color: #13b7da!important;
    font-weight: 600;
}

.boton-nueva-noticia {
    float: right;
}

.boton-nueva-noticia i {
    color: #13b7da;
}

nav .fas {
    padding-right: 10px;
}

.verImagen {
    padding-bottom: 20px;
}

.loader_datatables {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 60px;
    left: 23%;
}

.loader_datatables i {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 60px;
    left: 23%;
}


/* .ocultar {
    display: none;
} */

.animated {
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}

.form-inline .form-control {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.form-inline .form-control:focus,
.btn:focus {
    box-shadow: none;
}

#btn-mostrar,
#btn-ocultar {
    margin-top: 30px;
    cursor: pointer;
    background-color: #efefef;
    padding: 7px 15px;
}

td.details-control {
    background: url('/img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/img/details_close.png') no-repeat center center;
}

#mensajes tr,
#mensajesVentas tr {
    line-height: 35px;
}

#mensajes td,
#mensajesVentas td {
    line-height: 20px;
}

table {
    border: solid 1px #f1f1f1;
}

.tr-background {
    background-color: #13b7da;
}

.card-admin {
    background-color: #64d6f0;
    margin-top: 30px;
}

.card-admin:hover,
.boton-nueva-noticia a:hover {
    background-color: #13b7da;
}

.card-admin h4 {
    font-weight: 600;
}

.card-title a {
    color: rgb(61, 61, 61)!important;
}

.mensaje-sweet {
    text-align: left;
    line-height: 20px;
}

.mensaje-sweet h3 {
    line-height: 20px;
}